.ipynb_checkpoints
BCD.ipynb
CCP.ipynb
BCD_data.csv
Churn_Model.csv
insurance.csv
med.ipynb
housing_train.csv
HomePrice.ipynb
housing_test.csv
SignFinData.ipynb
financial_data.csv
creditcard.csv
ccfd.ipynb
EmployeeAttr.csv
1Employee_Attrition_Prediction.ipynb
2Customer_segmentation.ipynb
CC General.csv
3Used_car_price_prediction.ipynb
car data.csv
CAR DETAILS FROM CAR DEKHO.csv
Car details v3.csv
Segmented_customers.csv
